.navbar-container {
  padding: 20px;
  background-color: #ede1e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absolute-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
  width: 60px;
  font-size: 10px;
  border: none;
  background-color: #e2b0c9;
  border-radius: 5px;
  cursor: pointer;
}
