.navbar-container {
  padding: 20px;
  background-color: #ede1e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
